In [1]:
from pandas import read_csv
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor

In [2]:
df=read_csv('Company_Data.csv')

In [3]:
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [4]:
label_encoder=preprocessing.LabelEncoder()
df['Urban']=label_encoder.fit_transform(df['Urban'])
df['Urban']

0      1
1      1
2      1
3      1
4      1
      ..
395    1
396    0
397    1
398    1
399    1
Name: Urban, Length: 400, dtype: int32

In [5]:
label_encoder=preprocessing.LabelEncoder()
df['US']=label_encoder.fit_transform(df['US'])
df['US']

0      1
1      1
2      1
3      1
4      0
      ..
395    1
396    1
397    1
398    1
399    1
Name: US, Length: 400, dtype: int32

In [6]:
label_encoder=preprocessing.LabelEncoder()
df['ShelveLoc']=label_encoder.fit_transform(df['ShelveLoc'])
df['ShelveLoc']

0      0
1      1
2      2
3      2
4      0
      ..
395    1
396    2
397    2
398    0
399    1
Name: ShelveLoc, Length: 400, dtype: int32

In [7]:
array=df.values
x=array[:,0:10]
y=array[:,10]

In [8]:
num_trees=100
max_features=4  
kfold=KFold(n_splits=10,random_state=42,shuffle=True)
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)

In [9]:
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.9099999999999999

# RANDOM FOREST(COMAPNYDATA)
# REGRESSOR

In [10]:
array=df.values
x=array[:,0:5]
y=array[:,5]
num_trees=100
max_features=4 
kfold=KFold(n_splits=10,random_state=42,shuffle=True)
model=RandomForestRegressor(n_estimators=num_trees,max_features=max_features)

In [11]:
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.4948213306531536

# ADBOOST (company data)

In [12]:
#classifier
x = array[:,0:10]
y = array[:,10]

num_trees =10
kfold = KFold(n_splits=10, random_state=42, shuffle = True)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=42)
results = cross_val_score(model, x,y , cv=kfold)
print(results.mean())

0.8875

In [13]:
#regressor
x = array[:,0:10]
y = array[:,10]

num_trees =8 
kfold = KFold(n_splits=10, random_state=42, shuffle = True)
model = AdaBoostRegressor(n_estimators=num_trees, random_state=42)
results = cross_val_score(model, x,y , cv=kfold)
print(results.mean())

0.5207468689896902

# RANDOM FOREST(FRAUD DATA)
# CLASSIFIER

In [14]:
from pandas import read_csv
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import AdaBoostRegressor

In [15]:
fraud=read_csv('Fraud_check.csv')

In [16]:
fraud

,Undergrad,Marital.Status,Taxable.Income,City.Population,Work.Experience,Urban
0,NO,Single,68833,50047,10,YES
1,YES,Divorced,33700,134075,18,YES
2,NO,Married,36925,160205,30,YES
3,YES,Single,50190,193264,15,YES
4,NO,Married,81002,27533,28,NO
...,...,...,...,...,...,...
595,YES,Divorced,76340,39492,7,YES
596,YES,Divorced,69967,55369,2,YES
597,NO,Divorced,47334,154058,0,YES
598,YES,Married,98592,180083,17,NO
599,NO,Divorced,96519,158137,16,NO

In [17]:
label_encoder=preprocessing.LabelEncoder()
fraud['Undergrad']=label_encoder.fit_transform(fraud['Undergrad'])
fraud['Undergrad']

0      0
1      1
2      0
3      1
4      0
      ..
595    1
596    1
597    0
598    1
599    0
Name: Undergrad, Length: 600, dtype: int32

In [18]:
label_encoder=preprocessing.LabelEncoder()
fraud['Urban']=label_encoder.fit_transform(fraud['Urban'])
fraud['Urban']

0      1
1      1
2      1
3      1
4      0
      ..
595    1
596    1
597    1
598    0
599    0
Name: Urban, Length: 600, dtype: int32

In [19]:
label_encoder=preprocessing.LabelEncoder()
fraud['Marital.Status']=label_encoder.fit_transform(fraud['Marital.Status'])
fraud['Marital.Status']

0      2
1      0
2      1
3      2
4      1
      ..
595    0
596    0
597    0
598    1
599    0
Name: Marital.Status, Length: 600, dtype: int32

In [21]:
import numpy as np
y1=np.empty(600, dtype=object)
i=0

for value in fraud['Taxable.Income']:
    if value<=30000:
        y1[i]='Risky'
    else:
        y1[i]='Good'
    i=i+1

In [ ]:
t1=pd.DataFrame(y1,columns=['Target'])
t1

In [ ]:
fraud = pd.concat([fraud,t1],axis=1)
fraud.head()

In [ ]:
fraud.drop(['City.Population'], axis = 1)

In [ ]:
array=fraud.values
x=array[:,0:6]
y=array[:,6]

In [27]:
num_trees=100
max_features=5

In [28]:
kfold=KFold(n_splits=10,random_state=42,shuffle=True)

In [29]:
model=RandomForestClassifier(n_estimators=num_trees,max_features=max_features)

In [30]:
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.9025000000000001

# RANDOM FOREST(FRAUD CHECK)
# regressor

In [ ]:
array=fraud.values
x=array[:,0:4]
y=array[:,4]

In [ ]:
num_trees=100
max_features=4

In [ ]:
kfold=KFold(n_splits=10,random_state=42,shuffle=True)
model=RandomForestRegressor(n_estimators=num_trees,max_features=max_features)

In [31]:
results=cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.905

# ADABOOST (fraudcheck data)

In [ ]:
#classifier
x = array[:,0:10]
y = array[:,10]

num_trees =10
kfold = KFold(n_splits=10, random_state=42, shuffle = True)
model = AdaBoostClassifier(n_estimators=num_trees, random_state=42)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())

In [ ]:
#regressor
x = array[:,0:10]
y = array[:,10]

num_trees =10
kfold = KFold(n_splits=10, random_state=42, shuffle = True)
model = AdaBoostRegressor(n_estimators=num_trees, random_state=42)
results = cross_val_score(model, x, y, cv=kfold)
print(results.mean())